<h2 class='d-flex justify-content-center mt-4'>Accounts managment</h2>

<p class='d-flex justify-content-center mt-4'><%= link_to 'Deposit', account_management_deposit_path, class: 'btn btn-outline-info btn-lg' %></p>
<p class='d-flex justify-content-center mt-4'><%= link_to 'Transfer', account_management_transfer_path, class: 'btn btn-outline-info btn-lg' %></p>